/* Gelios theme created by UselessJoy 2023 */
* {
    color: #fdf6e3; /*base3*/
}

list row,
treeview.view,
window {
    background-color: #002b36;
    /* padding: 16px; */
    /* margin: 16px; */
}


.label_chars {
  font-size: 1.2em;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  letter-spacing: 1.5px;
}
.content > * > * {
    padding-right: 8px;
}

.title_bar {
    padding-right: 16px;
    padding-left: 16px;
}

.action_bar {
    padding-top: 32px;
}

.window-startup {
    background: linear-gradient(to bottom, #7dc926 10%, #002b36 30%);
    -gtk-icon-shadow: none;
}

.window-interrupt {
    background: linear-gradient(to bottom, #b69b00 10%, #002b36 30%);
    -gtk-icon-shadow: none;
}
.window-ready {
    background-color: #002b36;
    -gtk-icon-shadow: none;
}
.window-paused {
    background: linear-gradient(to bottom, #8d8b04 10%, #002b36 30%);
    -gtk-icon-shadow: none;
}

.window-warning {
    background: linear-gradient(to bottom, #ac7511 10%, #002b36 30%);
    -gtk-icon-shadow: none;
}

.window-complete {
    background: linear-gradient(to bottom, #58e716 10%, #002b36 30%);
    -gtk-icon-shadow: none;
}
.window-printing {
    background: linear-gradient(to bottom, #222dc7 10%, #002b36 30%);
    -gtk-icon-shadow: none;
}

.window-disconnected {
    background: linear-gradient(to bottom, #c72222 10%, #002b36 30%);
    -gtk-icon-shadow: none;
}
.window-shutdown {
    background: linear-gradient(to bottom, #c72222 10%, #002b36 30%);
    -gtk-icon-shadow: none;
}
.window-error {
    background: linear-gradient(to bottom, #c72222 10%, #002b36 30%);
    -gtk-icon-shadow: none;
}

button {
    background-color: inherit;/*#002b36; base03*/
}

.hide_button {
  background-color: inherit;
  box-shadow: none;
  border-radius: 0px;
}

.hide_button:active {
  background-color: inherit;
}

.keyboard {
    padding-right: 20px;
    padding-bottom: 10px;
}

button:active, .round_button:active, .shadow:active {
    background-color: #cb4b16; /*solarized-orange*/
}

.button_active {
    border-color: #073642; /*base02*/
    background-color: #cb4b16;
    border-style: solid;
    border-radius: 1em;
    /*background-color: inherit;#073642;base02*/
}

button.shadow {
  background-color: rgba(80, 80, 80, 0.623);/*#073642; base02*/
  box-shadow: -8px 11px 10px 2px rgba(34, 60, 80, 0.2) inset;
  border-radius: 1em;
}

button.color1 {
    background-color: inherit;/*#073642; base02*/
    box-shadow: -8px 11px 10px 2px rgba(34, 60, 80, 0.2) inset;
    border-bottom-color: #cb4b16; /*solarized-orange*/
    border-radius: 1em;
}

button.color2 {
    background-color: inherit; /*base02*/
    box-shadow: -8px 11px 10px 2px rgba(34, 60, 80, 0.2) inset;
    border-bottom-color: #d33682; /*solarized-magenta*/
    border-radius: 1em;
}

button.color3 {
  background-color: inherit; /*base02*/
  box-shadow: -8px 11px 10px 2px rgba(34, 60, 80, 0.2) inset;
  border-bottom-color: #2aa198; /*solarized-cyan*/
  border-radius: 1em;
}

button.color4  {
  background-color: inherit; /*base02*/
  box-shadow: -8px 11px 10px 2px rgba(34, 60, 80, 0.2) inset;
  border-bottom-color: #859900; /*solarized-green*/
  border-radius: 1em;
}

box.color4 {
  padding: .2em .5em 0;
  margin: .3em;
  min-height: 3em;
  background-color: inherit; /*base02*/
  box-shadow: -8px 11px 10px 2px rgba(34, 60, 80, 0.2) inset;
  border-bottom: .4em solid #859900;
  border-radius: 1em;
}

button.color5 {
    background-color: inherit; 
    box-shadow: 0px 0px 10px 5px rgba(10, 145, 178, 0.2), 0px 01px 10px 5px rgba(10, 145, 178, 0.2) inset;
    border-width: .3em;
    border-style: solid;
    border-radius: 1em;
    border-color: #0a91b3;
}
button.color5:active {
    border-style: none;
    box-shadow: none;
}

button.stop_pid {
  background-color: inherit; 
  border-width: .15em;
  border-style: solid;
  border-radius: 1em;
  border-color: #B22222;
}

button.stop_pid:active {
  background-color: #B22222;
}

button.round_button {
  background-color: inherit;
  box-shadow: -8px 11px 10px 2px rgba(34, 60, 80, 0.2) inset;
  border-width: .3em;
  border-radius: 50%;
  border-color: #d33682;
}
button.extruder {
    background-color: inherit;/*#073642; base02*/
    box-shadow: -8px 11px 10px 2px rgba(34, 60, 80, 0.2) inset;
    /*border-bottom-color: #cb4b16; solarized-orange*/
    border-radius: 1em;
}

button.color1:active, button.color2:active, button.color3:active, button.color4:active, button.update:active, button.invalid:active, box.color4:active {
    border-style: none;
    /* margin-top: .5em; */
}

button.active{
    background-color: #cb4b16; /*solarized-orange*/
}

button.overlay_close_button:active{
    background-color: inherit;
}
button.update {
    background-color: inherit; /*base02*/
    border: 0;
    border-bottom: .3em solid;
    border-bottom-color: #859900; /*solarized-green*/
    border-radius: .75em;
}

button.invalid {
    background-color: inherit; /*base02*/
    border: 0;
    border-bottom: .3em solid;
    border-bottom-color: #dc322f; /*solarized-red*/
    border-radius: .75em;
}

combobox box button {
    background-color: inherit; /*base02*/
    border-color: #002b36; /*base03*/
}

treeview.view check,
switch {
    background-color: #93a1a1; /* base02 */
}

switch:disabled slider {
    background-image: image(rgb(110, 119, 119));
    /* #6e7777 */
}

treeview.view check:checked,
switch:checked {    
    background-color: #859900; /*solarized-green*/
}

switch:checked:disabled {
    background-color: #93a1a1;
}

entry {
    background-color: rgba(255, 255, 255, 0.3); /*base02*/
    border-color: rgba(0, 43, 54, 0.0); /*base03*/
}


.unused_temp_button:disabled label{
    color: #fdf6e3;
}
.unused_entry:disabled {
    background-color: inherit;
    color: #fdf6e3;
    border-color: rgba(0, 43, 54, 0.0);
}

entry:disabled {
    background-color: white; /*base02*/
    border-color: rgba(0, 43, 54, 0.0);
    color: grey;
    background-color: rgba(255, 255, 255, 0.3);
}

spinbutton button.active {
    background-color: #cb4b16; /*solarized-orange*/
}

spinbutton:disabled {
    color: grey;
    /* background-color: rgba(255, 255, 255, 0.3); */
}

spinbutton button.up, spinbutton button.down {
    padding-top: 10px;
    padding-bottom: 10px;
}

.move_menu {
    padding-bottom: 20px;
}

dialog {
    background-color: #002b36; 
}

.autoclose_dialog * {
    border-radius: 1em;
    background-color: #002129;
}

notebook {
    background-color: inherit;
}
notebook > * {
    background-color: inherit; /*base03*/
}
notebook header {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 3px solid #93a1a1;
}
notebook tab {
    background-color: inherit; /*base03*/
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

notebook > header > tabs > tab:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

notebook > header > tabs > tab:checked {
    background-color: rgba(255, 255, 255, 0.6);
}

.listbox {
    border: #002b36; /*base03*/
    background-color: #002b36; /*base03*/
}
.listbox > * {
    border: #002b36; /*base03*/
    background-color: #002b36; /*base03*/
}

label {
    color: #fdf6e3; /*base3*/
    
}

menu {
    background-color: inherit;/*#002b36; base03*/
    border-color: #93a1a1; /*base1*/
}

menuitem {
    background-color: inherit; /*base03*/
    border-color: #93a1a1;  /*base1*/
}

trough {
    background-color: inherit;
    color: #fdf6e3;
    border-color: #002b36;
    border-radius: 1em;
}

trough highlight, trough progress {
    background-color: #6c71c4;
    color: #fdf6e3;
    border-color: #404E57;
    border-width: .1em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

trough.empty {
    background-color: #404E57;
}

.media trough slider {
  min-height: 0em;
  min-width: 0em;
}

.media trough {
  min-height: 0em;
  background-color: #404E57;
} 
/* Почистить ненужные свойства */
.media trough highlight{
  border-color: #404E57;/* #6c71c4;*/
  border-width: 0.5em;
  min-height: 0em;
  min-width: 0em;
}
.media trough progress {
  border-color: #404E57;
  border-radius: 1em;
  border-width: 0.5em;
  /* min-width: 0em; */
  /* background-size: 2px 2px; */
  /* background-color: #6c71c4; */
  /* border-radius: 1em;
  border-width: 1em;  */
}
.media:disabled trough slider {
  background-image: -gtk-scaled(url(""));  
  background-color: gray;
  /* background-size: 1px; */
}
/* .media trough highlight, .media trough progress {
  background-color: #6c71c4;
  border-width: 1em;
} */

/* scale.media {
  margin: 0;
  padding: 0;
}

scale.media trough slider {
  background-image: -gtk-scaled(url(""));                                                
  background-size: 2px 2px;
  min-height: 0.1em;
  min-width: 0.1em;
  padding: 0;
  margin: 0;
} */

scale-mark {
    color: #fdf6e3;
}

scrollbar, scrollbar button, scrollbar trough {
    background-color: inherit;
}

scrolledwindow button {
    box-shadow: -8px 11px 10px 2px rgba(34, 60, 80, 0.2) inset;
    border-radius: 1em;
    background-color: inherit; /*base03*/
}


scrollbar slider {
    min-width: 2em;
    border-radius: .7em;
    background-color: #404E57;
}

.overlay_background {
    background-color: rgba(0, 0, 0, 0.4); 
}

.scrolled_window_bed_level {
    background-color: #001d24; 
    border-radius: 1em;
}

.popup {
    background-color: #002b36; /*solarized-cyan*/
    border: .1em solid white;
    border-radius: 1em;
    padding: 1em;
    margin: 0;
}

.tempbutton_top, .tempbutton, .tempbutton_bottom, .distbutton_top, .distbutton, .distbutton_bottom  {
    border-color: #002b36; /*base03*/
    background-color: inherit; /*base02*/
}

.distbutton_active {
    background-color: #cb4b16; /*solarized-orange*/
}

.fan_slider {
    color: #fdf6e3; /*base3*/
}

.message_popup {
    border-bottom-color: #fdf6e3; /*base3*/
}

.message_popup button {
    background-color: #dc322f; /*solarazed-red*/
}

.message_popup_echo, .message_popup_echo button {
    background-color: #859900; /*solarized-green*/
}

.message_popup_warning, .message_popup_warning button {
    background-color: #c18c00; /*solarazed-yellow*/
}

.message_popup_suggestion, .message_popup_suggestion button {
  background-color: #1552fa; /*solarazed-yellow*/
}

/* .message_popup_warning button label {
  color: #001d24;
}
.message_popup_suggestion button label {
  color: #001d24;
} */
.message_popup_error, .message_popup_error button {
    background-color: #dc322f; /*solarazed-red*/
}

.numpad_tleft, .numpad_top, .numpad_tright, .numpad_left, .numpad_button, .numpad_right, .numpad_bleft, .numpad_bottom, .numpad_bright {
    border-color: #002b36; 
    background-color: #073642; 
}

/* .numpad_key {
    border-color: #002b36; 
    background-color: #073642; 
} */

.printing-status {
    color: #fdf6e3; /*base3*/
}

.printing-progress-text {
    color: #fdf6e3; /*base3*/
}

.printing-status-label {
    color: #93a1a1; /*base1*/
}

.message {
    border-color: #dc322f; /*solarized-red*/
    color: #fdf6e3; /*base3*/
    background-color: #dc322f; /*solarized-red*/
}

.message button {
    background-color: #fdf6e3; /*base3*/
    color: #002b36; /*base03*/
}

.warning {
    background-color: #b58900; /*solarazed-yellow*/
}

.error {
    background-color: #dc322f; /*solarized-red*/
}

.keyboard_pad {
    background-color: #073642; /*base02*/
}

.frame-item {
    min-height: 4.5em;
    padding: .2em .3em;
    border-bottom: 1px solid rgba(253, 246, 227, 0.4);
}

.details_prog_label {
  font-size: 1.3em;
  font-weight: 600;
  font-family: sans-serif;
  letter-spacing: 1.1px;
  margin-top: 16px;
}

.text_error {
  color: #ab2121;
}

.text_warning {
  color: #e68a00;
}

.ml-1rem {
  margin-left: 1rem;
}

.pb-06rem {
  padding-bottom: 0.6rem;
}

.p-10px {
  padding: 10px;
}

.textview_logs {
  background: rgba(255, 255, 255, 0.3);
  font-size: 1em;
  border: .2em solid #13181C;
  border-radius: 1em;
  padding: .25em;
  font-family: sans-serif;
  min-width: 50px;
}

textview .time {
  color: #93a1a1; /*base1*/
}

.placeholder * {
  color: grey;
}

.d_button {
  box-shadow: 0px 0px 10px 6px rgba(34, 60, 80, 0.5) inset;
  border-radius: 2em;
}

.d_button:disabled label {
  color: #fdf6e3;
}

.d_button_active {
  background: #859900;
}

checkbutton check {
  min-width: 16px;
  min-height: 16px;
  /* background: green; */
}

checkbutton:disabled check {
  background: gray;
}

.endstop_cur_state {
  background-color: #859900;
}
/* .d_button_active {
  background: linear-gradient(90deg,#e68a00, #ffbf66, #e68a00);
  background-size: 200% 100%;
  animation: gradient 5s ease-out infinite;
}

@keyframes gradient {
	0% { background-position: 100% 0%; }
  50% { background-position: 0% 0%; }
  100% { background-position: -100% 0%; }
}

.d_button_error {
  background: #ab2121;
} */